<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-3 col-md-6 col-lg-5">

      <div class="row justify-content-center pt-5">
        <div class="col">
          <div class="card text-white bg-info">
            <img class="card-img-top" src="assets/formulaLogo.png" height="70px">

            <div class="card-header text-center">
              <h2>Netto Fee Calc</h2>
            </div>

            <div class="card-body">

              <form [formGroup]="feeForm">
                <div class="row">
                  <div class="col">

                    <label for="date">Date of Birth</label>
                    <div class="row">
                      <div class="col-4 form-group">
                        <input type="text"
                               placeholder="Date of Birth"
                               class="form-control"
                               id="date"
                               (bsValueChange)="onValueChange($event)"
                               [bsConfig]="datePickerConfig"
                               bsDatepicker
                        >
                      </div>

                      <div class="col" *ngIf="this.result?.yearlyFee">
                        <input type="text" id = "result" class="form-control" [value]="'result: ' + this.result?.yearlyFee" placeholder="result">
                      </div>

                    </div>

                    <label for="numberOfInsured">Number of Insured</label>
                    <div>
                      <select class="custom-select" name="numberOfInsured" formControlName="numberOfInsured"
                              id="numberOfInsured">
                        <option disabled value=null>&#45;&#45; Number of Insured &#45;&#45;</option>
                        <option *ngFor="let numberOfRelatives of this.maxNumberOfRelatives"
                                value="{{numberOfRelatives}}">{{numberOfRelatives}}</option>
                      </select>
                    </div>


                    <label for="amountOfInsurance" class="pt-3">Amount of insurance</label>
                    <input type="number" class="form-control" formControlName="amountOfInsurance" id="amountOfInsurance"
                           placeholder="Enter amount">
                    <label for="lengthOfInsurance" class="pt-1">Duration</label>
                    <div class="row">

                      <div class="col">
                        <div class="slidecontainer justify-content-center">
                          <input type="range" min="3" max="35" formControlName="lengthOfInsurance"
                                 class="slider" id="myRange" id="lengthOfInsurance" (change)="length()"
                                 (mousemove)="length()">
                        </div>
                      </div>

                    </div>
                    <div class="row justify-content-center">
                      <div class="col">
                        <span class="font-weight-bold indigo-text ml-2 mt-1">3</span>
                      </div>
                      <div class="col text-center">
                        <span class="font-weight-bold indigo-text ml-2 mt-1">{{this.range}}</span>
                      </div>
                      <div class="col text-right">
                        <span class="font-weight-bold indigo-text">35</span>
                      </div>

                    </div>

                    <label for="chargeFrequency" class="pt-3">Charge frequency</label>
                    <div>
                      <select class="custom-select" name="chargeFrequency" formControlName="chargeFrequency"
                              id="chargeFrequency">
                        <option disabled value=null>&#45;&#45; Charge frequency &#45;&#45;</option>
                        <option *ngFor="let seq of this.seqs" value="{{seq.value}}">{{seq.name}}</option>
                      </select>
                    </div>


                  </div>
                </div>


              </form>


            </div>
          </div>

          <div class="row justify-content-center pt-2 pb-2">
            <div class="col-4 text-center">
              <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="onSubmit()">Submit</button>
            </div>
          </div>

        </div>
      </div>


    </div>
  </div>
</div>

